.home{
    margin-top: 10vh;
    color: var(--white-color);
}

.cta{
    background-image: url('../../imagens/background.jpg');
    background-size: cover;
}
.cta div{
    background: linear-gradient(to top, var(--blue-color), transparent);
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cta div h1{
    font-size: var(--h1-font-size);
    width: 55%;
    margin-bottom: 0;
    margin-top: -5vh;
}
.cta div p{
    font-size: var(--h5-font-size);
    margin-top: 0;
}
.cta div button{
    background-color: var(--orange-color);
    color: var(--1-blue-color);
    border: none;
    border-radius: 8px;
    padding: 1vh 4vw;
    font-weight: 700;
    font-size: var(--p-font-size);
    margin: 1% 0;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.cta div button:hover{
    background-color: var(--1-orange-color);
}

.sobre{
    background-color: var(--blue-color);
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
}
.sobre .left{
    width: 50%;
    display: flex;
    justify-content: center;
}
.sobre .left img{
    width: 80%;
}
.sobre .right{
    width: 50vw;
}
.sobre .right h1{
    font-size: var(--h1-font-size);
    margin-bottom: 0;
}
.sobre .right p{
    width: 85%;
    font-size: var(--p-font-size);
}
.sobre .right h5{
    font-size: var(--h5-font-size);
}

.servicos{
    height: 95vh;
    color: var(--blue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servicos h1{
    font-size: var(--h1-font-size);
    margin-bottom: 0;
    margin-top: -2%;
}
.servicos .text{
    font-size: var(--p-font-size);
    width: 60%;
    text-align: center;
    margin-bottom: 3%;
}
.servicos .cards{
    display: flex;
    justify-content: space-between;
    width: 60%;
    gap: 3%;
}
.servicos .cards .card{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 8px var(--black-color);
    border-radius: 10px;
}
.servicos .cards .card img{
    width: 270px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.servicos .cards .card div{
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
}
.servicos .cards .card div p{
    font-size: var(--p-font-size);
    margin: 0;
}
.servicos .cards .card div p:first-child{
    font-weight: 700;
}
.servicos .cards .card div p:last-child{
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 6px;
    padding: 1% 3%;
}

.time{
    background-color: var(--1-blue-color);
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time h1{
    font-size: var(--h1-font-size);
    transform: rotate(-90deg);
    color: var(--gray-color);
    margin-left: -12%;
    margin-right: -5%;
}
.time .cards{
    display: flex;
    gap: 3%;
}
.time .cards .card{
    position: relative;
}
.time .cards .card img{
    width: 270px;
    border-radius: 6px;
}
.time .cards .card span{
    color: var(--orange-color);
    font-weight: 700;
    font-size: var(--h5-font-size);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    text-shadow: 5px 4px 5px var(--black-color);
}
.time .cards .card div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin: 3% 0 0 0;
}
.time .cards .card div svg{
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.time .cards .card div svg:hover{
    transform: scale(1.1);
}

.unidades{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blue-color);
}
.unidades h1{
    font-size: var(--h1-font-size);
    margin-top: -2%;
}
.unidades .cards{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4%;
}
.unidades .cards .card{
    background-size: cover;
    width: 22vw;
    height: 55vh;
    border-radius: 14px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.unidades .cards .unidade1{
    background-image: url('../../imagens/unidade1.jpg');
}
.unidades .cards .unidade2{
    background-image: url('../../imagens/unidade2.jpg');
}
.unidades .cards .card div{
    color: var(--white-color);
    border: 2px solid var(--gray-color);
    text-align: center;
    width: 70%;
    margin-bottom: 7%;
    border-radius: 8px;
    padding: 2% 0;
    background-color: var(--black-color);
    opacity: 70%;
}
.unidades .cards .card div p{
    font-size: var(--p-font-size);
    margin: 0;
}
.unidades .cards .card div p:first-child{
    font-weight: 700;
}

footer{
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4%;
}
footer div{
    display: flex;
    align-items: center;
    gap: 8%;
    margin-bottom: 1%;
}
footer div svg{
    color: var(--blue-color);
    font-size: 33px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
footer div svg:hover{
    transform: scale(1.1);
}
footer img{
    width: 100px;
}

.whatsapp{
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 3;
    cursor: pointer;
    width: 60px;
    transition: 0.4s ease-in-out;
}
.whatsapp:hover{
    transform: translateY(-12%);
}



@media screen and (max-width: 1080px) {
    .cta div h1{
        font-size: var(--h2-font-size);
        width: 75%;
        margin-top: -3vh;
        margin-bottom: 2%;
    }
    .cta div button{
        padding: 1vh 6.5vw;
    }

    .sobre{
        height: 100%;
        padding: 10% 0;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .sobre .left{
        margin-top: 4%;
        width: 60%;
    }
    .sobre .left img{
        width: 100%;
    }
    .sobre .right{
        width: 80vw;
        text-align: center;
    }
    .sobre .right h1{
        margin-top: 0%;
    }
    .sobre .right p{
        width: 100%;
    }
    .sobre .right h5{
        font-size: var(--p-font-size);
    }
    
    .servicos{
        height: 100%;
        padding: 10% 0 15% 0;
    }
    .servicos h1{
        font-size: var(--h2-font-size);
        margin-top: 0%;
    }
    .servicos .text{
        width: 80%;
        margin-bottom: 8%;
    }
    .servicos .cards{
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 5vh;
    }

    .time{
        height: 100%;
        flex-direction: column;
        padding: 10% 0 15% 0;
    }
    .time h1{
        font-size: var(--h2-font-size);
        transform: rotate(0deg);
        margin-left: 0%;
        margin-right: 0%;
    }
    .time .cards{
        gap: 5vh;
        flex-direction: column;
    }
    .time .cards .card div svg{
        font-size: 26px;
    }

    .unidades{
        height: 100%;
        padding: 10% 0;
    }
    .unidades h1{
        font-size: var(--h2-font-size);
        margin-top: 0%;
    }
    .unidades .cards{
        flex-direction: column;
        gap: 5vh;
    }
    .unidades .cards .card{
        width: 64vw;
        height: 45vh;
        border-radius: 8px;
    }

    footer{
        padding-bottom: 5%;
    }
    footer div{
        margin-bottom: 3%;
    }
    footer div svg{
        font-size: 35px;
    }
    footer img{
        width: 110px;
    }

    .whatsapp{
        bottom: 50px;
        right: 30px;
        width: 50px;
    }
}