.billboard {
  color: var(--white);
  height: 90vh;
  position: relative;
  
  .background{
    width: 100vw;
    height: auto;
    background-size: cover;
  }

  .gradient-overlay{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 30%, var(--black));
  }

  .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
    justify-content: flex-end;
    gap: 2%;

    span{
      margin-bottom: -1%;
      font-size: 0.9rem;
    }

    h1 {
      font-size: 2.2rem;
      font-weight: 300;
    }
  
    div {
      display: flex;
      align-items: center;
      gap: 1vw;
      margin-bottom: 2.5%;

      a{
        height: 100%;
        width: auto;
        
        button{
          background-color: #ffffff36;
          border: 2px solid var(--pink-100);
          color: var(--pink-100);
          padding: 1.2vh 1vw;
          border-radius: 5px;
          font-weight: 600;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          transition: 0.3s ease-in-out;
          text-wrap: nowrap;
  
          &:hover{
            background-color: #ffffff4f;
          }
  
          svg{
            font-size: 1.2rem;
          }
        }
      }

      svg {
        cursor: pointer;
      }

      .like, .dislike{
        font-size: 1.5rem;
      }
    }
  }
}


// -- responsiveness for cell phones --
@media only screen and (max-width: 480px){
  .billboard {
    margin-top: 25vh;
    height: 100%;
    
    .background{
      height: 30vh;
    }
  
    .gradient-overlay{
      background: linear-gradient(to bottom, transparent 20%, var(--black));
    }
  
    .content{
      padding: 1vh 5vw;
      gap: 3%;
  
      span{
        display: none;
      }
  
      h1 {
        font-size: 1.6rem;
        font-weight: 400;
      }
    
      div {
        gap: 2vw;
  
        a{
          button{
            padding: 0.8vh 2.5vw;
    
            svg{
              font-size: 1rem;
            }
          }
        }

        .mark{
          display: none;
        }
  
        .like, .dislike{
          display: none;
        }
      }
    }
  }
}


// -- tablet responsiveness --
@media only screen and (min-width: 481px) and (max-width: 1023px){
  .billboard {
    margin-top: 20vh;
    height: 100%;
    
    .background{
      height: 40vh;
    }
  
    .gradient-overlay{
      background: linear-gradient(to bottom, transparent 20%, var(--black));
    }
  
    .content{
      padding: 4vh 5vw;
      gap: 2%;
  
      span{
        font-size: 0.8rem;
      }
  
      h1 {
        font-size: 1.9rem;
        font-weight: 400;
      }
    
      div {
        a{
          button{
            padding: 0.8vh 2.5vw;
    
            svg{
              font-size: 1rem;
            }
          }
        }

        .mark{
          font-size: 2.7rem;
          padding: 0.8%;
        }
  
        .like, .dislike{
          display: none;
        }
      }
    }
  }
}