.swiper-container2{
    width: 80%;
    height: auto;
    margin-top: 5%;
    cursor: grab;

    .slide2{
        display: flex;
        flex-direction: column;

        img{
            object-fit: cover;
            width: 100%;
            height: 310px;
            margin-bottom: 5%;
        }
    
        p{
            text-align: start;
            font-weight: 600;
        }
    
        span{
            color: var(--text-color);
            opacity: 0.5;
            font-weight: 300;
            font-size: 0.9rem;
        }
    }
}


/* -- para smartphones -- */
@media only screen and (max-width: 480px){
    .swiper-container2{
        margin-top: 10%;
        z-index: 0 !important;
    
        .slide2{
            img{
                height: auto;
            }
        }
    }
}


/* -- para tablets e monitores menores -- */
@media only screen and (min-width: 481px) and (max-width: 1023px){
    .swiper-container2{
        width: 95%;
        margin-top: 8%;
        z-index: 0 !important;
    
        .slide2{
            img{
                height: 260px;
            }

            span{
                width: 90%;
            }
        }
    }
}