.carousel{
  width: 89vw;
  padding-right: 5vw;

  img{
    width: 100%;
    height: 220px;
    border-radius: 4px;
    background-size: contain;
  }
}

.spinner{
  display: flex;
  justify-content: center;
  margin: 10% 0;

  svg{
      color: var(--white);
      width: 2.5rem;
      height: 2.5rem;
      animation: spin 1s linear infinite;
  }
}

@keyframes spin{
  0%{ 
      transform: rotate(0deg)
  }
  100%{ 
      transform: rotate(360deg); 
  }
}