@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
}
:root{
    --background-color: #fff;
    --gray-color: #b0b5b98e;
    --yellow-color: #f6c900;
    --black-color: #000000;

    --h1-font-size: 1.6rem; /* 24px titulos*/
    --h3-font-size: 1.3rem; /* 19px texto destaque*/
    --p-font-size: 1rem; /* 16px textos geral*/
    --h6-font-size: .8rem; /* 14px textos pequenos*/
}
.body-add{
    background-color: var(--background-color);
    color: var(--black-color);
}
.body-add p{
    font-size: var(--p-font-size);
}
.body-add h2{
    font-size: var(--h1-font-size);
    font-weight: 600;
    margin-bottom: 2%;
    margin-top: 5vh;
}
a{
    text-decoration: none;
    color: var(--black-color);
}


.body-add{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body-add main{
    display: flex;
    width: 80%;
    margin-left: 5%;
    flex-wrap: wrap;
}
.body-add main div{
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
}
.body-add main div input, .body-add main div select{
    width: 20vw;
    height: 5vh;
    margin-bottom: 1.5vh;
    border: 1px solid var(--black-color);
    border-radius: 4px;
    padding-left: 3%;
    font-size: var(--p-font-size);
    outline: none;
}
.body-add .btn-salvar{
    flex-basis: 91.7%;
    display: flex;
    align-items: flex-end;
}
.body-add button{
    margin-top: 2vh;
    width: 10%;
}