@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
}
:root{
    --background-color: #fff;
    --gray-color: #b0b5b98e;
    --yellow-color: #f6c900;
    --black-color: #000000;

    --h1-font-size: 1.6rem; /* 24px titulos*/
    --h3-font-size: 1.3rem; /* 19px texto destaque*/
    --p-font-size: 1rem; /* 16px textos geral*/
    --h6-font-size: .8rem; /* 14px textos pequenos*/
}
.body-add{
    background-color: var(--background-color);
    color: var(--black-color);
}
.body-add p{
    font-size: var(--p-font-size);
}
a{
    text-decoration: none;
    color: var(--black-color);
}


.body-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
}
.body-add div{
    display: flex;
    flex-direction: column;
}
.body-add div input, .body-add div select{
    width: 20vw;
    height: 5vh;
    margin-bottom: 1.5vh;
}
.body-add button{
    margin-top: 2vh;
}