.billboard {
  color: var(--white);
  height: 80vh;
  position: relative;
  
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    z-index: -1;
    width: 80vw;
    height: 60vh;
    opacity: 0.4;
    border-radius: 3px;
    filter: grayscale(20%);
  }

  .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10vh 10vw;
    justify-content: flex-end;
    gap: 2%;
    margin-left: 1.5%;

    h1 {
      font-size: 2rem;
      font-weight: 300;
    }
  
    div {
      display: flex;
      align-items: center;
      gap: 1.5%;
      margin-bottom: 2.5%;

      button{
        background-color: #ffffff36;
        border: 2px solid var(--pink-100);
        color: var(--pink-100);
        padding: 0.7% 2.5%;
        border-radius: 5px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: 0.3s ease-in-out;

        &:hover{
          background-color: #ffffff4f;
        }

        svg{
          font-size: 1.2rem;
        }
      }

      svg {
        cursor: pointer;
      }

      .mark{
        color: var(--pink-100);
        border: 2px solid var(--pink-100);
        font-size: 2.4rem;
        border-radius: 8px;
        padding: 0.6%;
      }

      .like, .dislike{
        font-size: 1.5rem;
      }
    }
  }
}

.movies{
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 5vh 10vw;
  gap: 3vh;

  h1{
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 0.5%;

    svg{
      font-size: 0.9rem;
    }
  }

  .carrossel{
    display: flex;
    justify-content: space-between;

    img{
      width: 24%;
      height: auto;
      background-size: cover;
      border-radius: 3px;
    }
  }
}