.container-top{
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  margin-top: 3%;

  h1{
    font-weight: 400;
    font-size: 2rem;
  }

  .carousel-top{
    width: 100%;
    height: auto;
    padding-top: 8vh;
    padding-bottom: 5vh;

    .item{
      position: relative;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover{
        transform: scale(1.06);
      }

      img{
        width: 100%;
        height: auto;
        border-radius: 4px;
        background-size: cover;
      }

      span {
        position: absolute;
        top: -10vh;
        right: 1%;
        font-size: 6rem;
        background-image: linear-gradient(to bottom, var(--pink-100), var(--purple-200));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-weight: 600;
      }
    }
  }
}

.swiper-button-prev, .swiper-button-next{
  color: var(--white) !important;
}


// -- responsiveness for cell phones --
@media only screen and (max-width: 480px){
  .container-top{
    h1{
      font-size: 1.7rem;
    }
  
    .carousel-top{
      padding-top: 6vh;
  
      .item{
        img{
          border-radius: 6px;
        }
  
        span {
          right: 4%;
          font-size: 7rem;
        }
      }
    }
  }
}


// -- tablet responsiveness --
@media only screen and (min-width: 481px) and (max-width: 1023px){
  .container-top{
    .carousel-top{
      padding-top: 7vh;
  
      .item{
        img{
          border-radius: 6px;
        }
  
        span {
          top: -8vh;
          right: 3%;
          font-size: 7.5rem;
        }
      }
    }
  }
}