header{
    background-color: var(--blue-100);
    display: flex;
    align-items: center;
    padding: 0 5vw;
    height: 10vh;
    width: 100%;
    gap: 4%;
    position: fixed;
    z-index: 9;

    div{
        display: flex;
        align-items: center;
        gap: 3%;

        img{
            cursor: pointer;
        }
    }

    nav{
        display: flex;
        gap: 5%;
        width: 100%;

        a{
            font-weight: 600;
            transition: 0.2s ease-in;
        }

        a:hover{
            opacity: 0.6;
        }
    }
}

.logo2{
    width: 8vh;
}

.logo{
    width: 22vh;
}