header{
    background-color: var(--blue-100);
    display: flex;
    align-items: center;
    padding: 0 5vw;
    height: 10vh;
    width: 100%;
    gap: 4%;
    position: fixed;
    z-index: 9;

    div{
        display: flex;
        align-items: center;
        gap: 3%;

        img{
            cursor: pointer;
        }
    }

    nav{
        display: flex;
        gap: 5%;
        width: 100%;

        a{
            font-weight: 600;
            transition: 0.2s ease-in;
            position: relative;
            padding-bottom: 1px;

            &::after{  //pseudo-elemento
                content: " ";
                width: 0%;
                height: 3px;
                background-color: var(--green-300);
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 0.4s ease-in-out;
            }

            &:hover::after{
                width: 100%;
            }
        }
    }
}

.logo2{
    width: 8vh;
}

.logo{
    width: 22vh;
}


/* -- para smartphones -- */
@media only screen and (max-width: 480px){
    header{
        padding: 0 8vw;
        height: 9vh;
    
        nav{
            a{
                display: none;
            }
        }
    }

    .logo2{
        width: 6vh;
        margin-right: 3%;
    }
    
    .logo{
        width: 15vh;
    }
}


/* -- para tablets e monitores menores -- */
@media only screen and (min-width: 481px) and (max-width: 1023px){
    header{
        padding: 0 8vw;
        height: 10vh;
    
        nav{
            a{
                display: none;
            }
        }
    }

    .logo2{
        width: 7vh;
        margin-right: 3%;
    }
    
    .logo{
        width: 16vh;
    }
}