.modal-character{
    width: 54vw;
    height: 50vh;
    display: flex;
    background-color: var(--white);
    justify-content: space-between;
    padding: 0;
    overflow-y: hidden;
    border-radius: 15px;
}

.modal-content{
    padding: 5%;
    position: relative;
    width: 54%;

    svg{
        position: absolute;
        top: 3%;
        left: 3%;
        width: 28px;
        height: auto;
        cursor: pointer;
    }

    h1{
        margin-bottom: 3%;
    }

    p{
        margin-bottom: 2%;

        span{
            font-weight: bold;
        }
    }
}

.modal-image{
    width: auto;
    height: auto;
    object-fit: cover;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 15px 15px 0;
}

.view-image{
    position: relative;

    svg{
        position: absolute;
        top: 3%;
        right: 1vw;
        width: 23px;
        height: auto;
        cursor: pointer;
    }
}


/* -- para smartphones -- */
@media only screen and (max-width: 480px){
    .modal-character{
        width: 70vw;
        height: 65vh;
        flex-direction: column;
        z-index: 3 !important;
    }

    .modal-content{
        padding: 3% 5% 5% 5%;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        border-radius: 0 0 15px 15px;
        z-index: 2;
        background-color: var(--white);
        z-index: 9999 !important;
    
        svg{
            display: none;
        }
    
        h1{
            margin-bottom: 2%;
            font-size: 23px;
        }
    }

    .modal-image{
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        border-radius: 15px 15px 0 0;
    }

    .view-image{
        svg{
            top: 1vh;
            right: 2vw;
            width: 28px;
        }
    }
}