@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;  /*"flex" os filhos ficam lado a lado*/  /*flexbox*/
    justify-content: center;  /*"center" vai centralizar*/  /*eixo x*/
    align-items: center;  /*vai centralizar*/  /*eixo y*/
}

.left-login {
    width: 50vw;  /*ocupa 50% da tela*/
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {  /*como chamar elementos sem classe*/
    font-size: 3vw;
    color: #77ffc0;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.card-login {
    width: 60%;  /*"%" vai pegar o tamanho da div pai*/
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;  /*margem dentro do componente*/
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;  /*sombra*/
}

.card-login > h1 {
    color: #00ff88;
    font-weight: 800;  /*grossura da fonte*/
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;  /*margem dentro do componente*/
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;  /*tira a caixa ao redor*/
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;

}

.textfield > input::placeholder {  /*como chamar o elemento dentro do elemento*/
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;  /*espaço entre as letras*/
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}



/*responsividade*/
@media only screen and (max-width: 950px) { 
    .card-login {
        width: 85%;
    }
}
@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login {
        width: 100%;
        height: auto;
    }
    .right-login {
        width: 100%;
        height: auto;
    }
    .left-login-image {
        width: 70vw; 
    }
    .card-login {
        width: 90%;
    }
}