@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
}
:root{
    --background-color: #fff;
    --gray-color: #b0b5b98e;
    --yellow-color: #f6c900;
    --black-color: #000000;

    --h1-font-size: 1.6rem; /* 24px titulos*/
    --h3-font-size: 1.3rem; /* 19px texto destaque*/
    --p-font-size: 1rem; /* 16px textos geral*/
    --h6-font-size: .8rem; /* 14px textos pequenos*/
}
.body-home{
    background-color: var(--background-color);
    color: var(--black-color);
}
.body-home p{
    font-size: var(--p-font-size);
}
a{
    text-decoration: none;
    color: var(--black-color);
}
::-webkit-scrollbar{
    width: 7px;
    background-color: var(--background-color);
    border: none;
}
::-webkit-scrollbar-thumb{
    background-color: #000000b7;
    border-radius: 50px;
    height: 10vh;
}


header{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: var(--background-color);
    font-family: 'Poppins';
}
header article{
    display: flex;
    align-items: center;
    padding: 0.8% 3vw;
    justify-content: space-between;
}
header article img{
    width: 100px;
    height: 100px;
}
header article form{
    background-color: var(--gray-color);
    width: 25%;
    height: 6vh;
    display: flex;
    align-items: center;
    padding: 0 0.7vw;
    border-radius: 4px;
}
header article form input{
    background-color: transparent;
    height: 100%;
    width: 100%;
    border: none;
    color: var(--black-color);
    outline: none;
    font-size: var(--p-font-size);
}
header article form input::placeholder{
    color: var(--black-color);
}
header article form button{
    background-color: transparent;
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    padding-right: 0;
}
header article form button svg{
    width: 25px;
    height: auto;
}
header article section{
    display: flex;
    align-items: center;
}
header article section svg{
    font-size: 32px;
    color: var(--yellow-color);
    margin-right: 1vw;
}
header article section div h6{
    margin: 0;
    color: var(--yellow-color);
    font-size: var(--h6-font-size);
}
header article section div p{
    margin: 0;
    font-size: var(--h6-font-size);
}
header .botoes{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
header article button{
    background-color: transparent;
    border: 2px solid var(--black-color);
    border-radius: 6px;
    padding: 3px 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease-in;
}


header nav{
    background-color: var(--yellow-color);
    padding: 0.6% 3vw;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
header a{
    transition: 0.3s ease-in-out;
    font-size: var(--p-font-size);
    color: var(--black-color);
    text-decoration: none;
}
header a:hover{
    color: #000000a0;
}


.whatsapp{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 5;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.whatsapp img{
    width: 60px;
    transition: 0.3s ease-out;
}
.whatsapp img:hover{
    transform: scale(1.05);
}
.whatsapp p{
    font-size: var(--h6-font-size);
    font-weight: 600;
    color: #01b801;
    margin-top: 1.3vh;
    font-family: 'Poppins';
}


.body-home main{
    display: flex;
    flex-direction: column;
    padding-top: 27vh;
    font-family: 'Poppins';
}
main .section-destaques{
    display: flex;
    flex-direction: column;
    padding: 0% 5vw;
}
main .section-destaques h2{
    font-size: var(--h3-font-size);
    display: flex;
    align-items: center;
}
main .section-destaques h2 p{
    color: transparent;
    border-bottom: 1px solid var(--gray-color);
    width: 75%;
    font-size: 20px;
    margin-left: 1vw;
}
.slick-prev:before {
    color: var(--black-color) !important;
    font-size: 30px !important;
  }
.slick-next:before {
    color: var(--black-color) !important;
    font-size: 30px !important;
}
.slider-carossel .item{
    display: flex;
    flex-direction: column;
    height: 380px;
    margin-left: 1vw;
}
.item img{
    width: 230px !important;
    max-width: 230px;
    min-width: 230px;
    margin-bottom: 4%;
}
.item p{
    width: 75%;
    margin: 0;
}
.item p:last-child{
    font-weight: 600;
}
.item .btn-dark{
    margin-top: 4%;
    font-size: var(--h6-font-size);
}

.section-destaques .btn-ver-todos{
    background-color: var(--yellow-color);
    border: none;
    width: 20%;
    font-size: var(--p-font-size);
    font-weight: 600;
    padding: 0.8% 2%;
    border-radius: 6px;
    margin: 1% 0 4% 42%;
    box-shadow: 1px 1px 6px #00000082;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    color: var(--black-color);
}
.section-destaques .btn-ver-todos:hover{
    background-color: #e7bc01;
}


footer{
    background-color: #000000e0;
    color: var(--background-color);
    height: 34vh;
    padding: 2% 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}
footer h2{
    font-size: var(--h3-font-size);
}
footer a{
    color: var(--background-color) !important;
    text-decoration: underline !important;
}
footer p{
    margin-bottom: 0.5% !important;
    margin: 0;
}
footer h6{
    margin-top: 2%;
    font-size: var(--h6-font-size);
    color: #bab8b8;
    font-weight: 400;
}



/* responsividade */
@media screen and (max-width: 1080px){
    
}