@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
:root{
    --background-color: #fff;
    --gray-color: #b0b5b98e;
    --yellow-color: #f6c900;
    --black-color: #000000;

    --h1-font-size: 1.6rem; /* 24px titulos*/
    --h3-font-size: 1.2rem; /* 19px texto destaque*/
    --p-font-size: 1rem; /* 16px textos geral*/
    --h6-font-size: .8rem; /* 14px textos pequenos*/
}
.body-home{
    background-color: var(--background-color);
    color: var(--black-color);
}
.body-home p{
    font-size: var(--p-font-size);
}
.body-home a{
    text-decoration: none;
    color: var(--black-color);
}
::-webkit-scrollbar{
    width: 7px;
    background-color: var(--background-color);
    border: none;
}
::-webkit-scrollbar-thumb{
    background-color: #000000b7;
    border-radius: 50px;
    height: 10vh;
}


.body-home header{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: var(--background-color);
}
.body-home header article{
    display: flex;
    align-items: center;
    padding: 0.8% 3vw;
    justify-content: space-between;
}
.body-home header article img{
    width: 100px;
    height: 100px;
}
.body-home header article form{
    background-color: var(--gray-color);
    width: 30%;
    height: 6vh;
    display: flex;
    align-items: center;
    padding: 0 0.7vw;
    border-radius: 4px;
}
.body-home header article form input{
    background-color: transparent;
    height: 100%;
    width: 100%;
    border: none;
    color: var(--black-color);
    outline: none;
    font-size: var(--p-font-size);
}
.body-home header article form input::placeholder{
    color: var(--black-color);
}
.body-home header article form button{
    background-color: transparent;
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
}
.body-home header article form button svg{
    width: 25px;
    height: auto;
}
.body-home header article section{
    display: flex;
    align-items: center;
}
.body-home header article section svg{
    font-size: 32px;
    color: var(--yellow-color);
    margin-right: 1vw;
}
.body-home header article section div h6{
    margin: 0;
    color: var(--yellow-color);
    font-size: var(--h6-font-size);
}
.body-home header article section div p{
    margin: 0;
    font-size: var(--h6-font-size);
}
.body-home header article button{
    background-color: transparent;
    border: 2px solid var(--black-color);
    border-radius: 6px;
    padding: 6px 10px;
    font-weight: 500;
    cursor: pointer;
}


.body-home header nav{
    background-color: var(--yellow-color);
    padding: 0.6% 3vw;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.body-home header a{
    transition: 0.3s ease-in-out;
}
.body-home header a:hover{
    color: #000000ab;
}


.body-home main{
    display: flex;
    flex-direction: column;
    padding-top: 25vh;
}
main .section-destaques{
    display: flex;
    flex-direction: column;
    padding: 0% 5vw;
}
main .section-destaques h2{
    font-size: var(--h3-font-size);
    display: flex;
    align-items: center;
}
main .section-destaques h2 p{
    color: transparent;
    border-bottom: 1px solid var(--gray-color);
    width: 80%;
    font-size: 1px;
    margin-left: 1vw;
}
.slick-prev:before {
    color: var(--black-color) !important;
    font-size: 30px !important;
  }
.slick-next:before {
    color: var(--black-color) !important;
    font-size: 30px !important;
}
.slider-carossel .item{
    display: flex;
    flex-direction: column;
    height: 370px;
    margin-left: 1vw;
}
.item img{
    width: 250px !important;
    margin-bottom: 6%;
}
.item p{
    width: 83%;
    margin: 0;
}
.item p:last-child{
    font-weight: 600;
}

.section-destaques .btn-ver-todos{
    background-color: var(--yellow-color);
    border: none;
    width: 20%;
    font-size: var(--p-font-size);
    font-weight: 600;
    padding: 1% 2%;
    border-radius: 6px;
    margin: 2% 0 4% 39%;
    box-shadow: 1px 1px 6px #00000082;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.section-destaques .btn-ver-todos:hover{
    background-color: #e7bc01;
}


footer{
    background-color: #000000e0;
    color: var(--background-color);
    height: 30vh;
    padding: 2% 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
footer h2{
    font-size: var(--h3-font-size);
}
footer a{
    color: var(--background-color) !important;
    text-decoration: underline !important;
}
footer p{
    margin-bottom: 0.5% !important;
    margin: 0;
}
footer h6{
    font-size: var(--h6-font-size);
    color: #bab8b8;
    font-weight: 400;
}