.my-list{
  margin-top: 10vh;
  height: 90vh;
  color: var(--white);
  padding: 5vh 5vw;

  h1{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2vh;
  }

  div{
    height: 85%;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    padding: 1% 0;

    img{
      width: 140px;
      height: 210px;
      margin-bottom: 1%;
      border-radius: 3px;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover{
        transform: scale(1.06);
      }
    }
  }

  span{
    display: flex;
    justify-content: center;
    padding-top: 20%;
  }
}


// -- responsiveness for cell phones --
@media only screen and (max-width: 480px){
  .my-list{
    margin-top: 8vh;
    height: 90vh;
  
    h1{
      font-size: 1.6rem;
    }
  
    div{
      height: 90%;
      overflow-y: auto;
      gap: 3%;
  
      img{
        width: 100px;
        margin-bottom: 3%;
        border-radius: 2px;
      }
    }
  }
}


// -- tablet responsiveness --
@media only screen and (min-width: 481px) and (max-width: 1023px){
  .my-list{
    margin-top: 8vh;
    height: 90vh;
  
    h1{
      font-size: 1.6rem;
    }
  
    div{
      height: 90%;
      overflow-y: auto;
      gap: 3%;
  
      img{
        width: 160px;
      }
    }
  }
}