.container-filters{
  background: linear-gradient(30deg, var(--purple-300) , var(--purple-200), var(--purple-100));
  height: 20vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;

  select{
    background-color: transparent;
    border: 1px solid #80808092;
    padding: 0.6vh 0.8vw;
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
    text-transform: uppercase;

    option{
      background-color: var(--gray);
    }
  }

  input{
    background-color: transparent;
    border: 1px solid #80808092;
    padding: 0.7vh 0.8vw;
    border-radius: 6px;
    color: var(--white);
  }

  button{
    background-color: var(--white);
    border: none;
    padding: 0.6vh 2vw;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    opacity: 0.8;

    &:hover{
      opacity: 1;
    }
  }
}