.sidebar{
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 56px;
  height: 100%;
  background: #4f2cd4;
  transition: 0.4s ease;
}

.sidebar.open{
  width: 260px;
}

.sidebar .inner{
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
}

.sidebar header{
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 6px;
  background: #321997;
  color: #f9f9f9;
}

.sidebar-burger{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9f9f9;
  background-color: transparent;
  border: none;
  padding-left: 3%;
  padding-top: 4%;
}

.sidebar header > .img{
  height: 28px;
  opacity: 0;
  transition: 0.3s;
  padding-top: 2%;
  padding-left: 6%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar header > .img > svg{
  font-size: 25px;
}

.sidebar nav{
  display: grid;
  padding: 6px;
  gap: 2px;
}

.sidebar nav > button{
  display: flex;
  gap: 12px;
  align-items: center;
  height: 44px;
  width: 44px;
  font-size: 16px;
  line-height: 1;
  padding: 0 12px;
  border-radius: 8px;
  color: #f9f9f9;
  background-color: #4f2cd4;
  border: none;
}

.sidebar nav > button:hover{
  background: #321997;
}

.sidebar nav > button > span{
  padding-left: 5%;
  font-size: 20px;
}

.sidebar header > .img,
.sidebar nav > button p{
  opacity: 0;
  transition: 0.3s;
}

.sidebar.open :is(nav button p, header > .img){
  opacity: 1;
}

.sidebar.open nav > button{
  width: 100%;
}