.popular-movies{
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 0 5vw;

  h1{
    font-weight: 400;
    font-size: 2rem;
  }

  .carousel{
    width: 100%;
    height: auto;
    padding-top: 8vh;
    padding-bottom: 5vh;

    .item{
      position: relative;

      img{
        width: 100%;
        height: auto;
        border-radius: 4px;
        background-size: cover;
      }

      span {
        position: absolute;
        top: -10vh;
        right: 1%;
        font-size: 6rem;
        background-image: linear-gradient(to bottom, var(--pink-100), var(--purple-200));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-weight: 600;
      }
    }
  }
}

.swiper-button-prev, .swiper-button-next{
  color: var(--white) !important;
}