/*  trabalhando com requisições http: 

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 60px;
    background-color: #4c89e3;
    color: #fff;
    width: 100%;
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    background-color: #fff;
    border-radius: 7px;
    border-width: 1px;
    margin: 8px;
    padding: 10px;
}

.titulo{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.subtitulo{
    margin: 5px;
}

.botao{
    height: 40px;
    border-radius: 5px;
    background: none;
    color: #4c89e3;
    border: 2px solid #4c89e3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.botao:hover{
    background-color: #4c89e3;
    color: #fff;
}
*/

/*  trabalhando com rotas(páginas):
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
*/
