.header{
    background-color: var(--1-blue-color);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    position: fixed;
    z-index: 4;
    top: 0;
    width: 90vw;
}
.header div{
    display: flex;
    align-items: center;
    gap: 3vw;
}
.header div img{
    width: 45px;
}
.header div a{
    font-size: var(--h5-font-size);
    transition: 0.4s ease-in;
}
.header div a:hover{
    color: var(--1-orange-color);
}
.header button{
    background-color: var(--orange-color);
    color: var(--1-blue-color);
    border: none;
    border-radius: 8px;
    padding: 0.8vh 2.5vw;
    font-weight: 700;
    font-size: var(--p-font-size);
    cursor: pointer;
    transition: 0.3s ease-in;
}
.header button:hover{
    background-color: var(--1-orange-color);
}

.ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.671) !important;
}
.ReactModal__Content {
    position: relative;
    top: auto;
    right: auto;
    margin: auto;
    width: 32%;
    height: 60%;
    background-color: var(--1-blue-color) !important;
    border-radius: 10px !important;
    color: var(--white-color);
    border: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ReactModal__Content h2{
    font-size: var(--h3-font-size);
    margin-top: 0;
}
.ReactModal__Content form{
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}
.ReactModal__Content form div{
    display: flex;
    flex-direction: column;
    width: 25vw;
}
.ReactModal__Content form div label{
    font-size: var(--p-font-size);
    margin-bottom: 1%;
}
.ReactModal__Content form div input, .ReactModal__Content form div select{
    background-color: var(--white-color);
    font-size: var(--p-font-size);
    border: none;
    border-radius: 6px;
    padding: 2.7% 3.5%;
}
.select-hora{
    display: inline-block;
}
.select-hora input[type='radio'] {
    display: none;
}
.select-hora input[type='radio'] + label {
    display: inline-block;
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.select-hora:hover input[type='radio'] + label {
    background-color: orange;
}
.select-hora input[type='radio']:checked + label {
    background-color: orange; 
}

.ReactModal__Content form button{
    background-color: var(--orange-color);
    color: var(--1-blue-color);
    border: none;
    border-radius: 8px;
    padding: 0.8vh 2.5vw;
    font-weight: 700;
    font-size: var(--p-font-size);
    cursor: pointer;
    transition: 0.3s ease-in;
}
.ReactModal__Content form button:hover{
    background-color: var(--1-orange-color);
}



@media screen and (max-width: 1080px) {
    .header{
        padding: 0 8vw;
        width: 84vw;
    }
    .header div a{
        display: none;
    }
    .header button{
        font-size: var(--p-font-size);
        padding: 0.8vh 3vw;
    }
}