main{
    background-color: var(--gray);
    padding: 10vh 0 0 0;
}

@mixin titleGreen{
    color: var(--green-100);
    margin-bottom: 3%;
    border-bottom: 3px solid var(--blue-200);
    padding: 0 2% 0.5% 2%;
}

@mixin pDescription{
    text-align: center;
    width: 70%;
    color: var(--white);
}

@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
}

.home{
    display: flex;
    height: 90vh;
    width: 100%;
    color: var(--white);
    padding: 0 5vw;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50vw;

        span{
            font-size: 0.9rem;
        }

        img{
            width: 480px;
            height: auto;
            margin: 2% 0;
            animation: moveUpDown 2s infinite alternate; 
        }

        p{
            width: 90%;
        }

        button{
            background-color: var(--blue-200);
            border: none;
            width: 24%;
            padding: 0.3rem 0;
            border-radius: 0.4rem;
            color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6%;
            font-weight: 600;
            margin-top: 5vh;
            opacity: 0.8;
            transition: 0.4s ease-in-out;
            box-shadow: 0px 2px 8px var(--black);
        }
        button:hover {
            opacity: 1;
        }
        
    }

    aside{
        width: 50vw;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        img{
            width: 590px;
            height: auto;
        }
    }
}

.sinopse{
    height: 75vh;
    padding: 0 5vw;

    div{
        background-color: var(--green-100);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 85%;
        padding: 6%;

        h2{
            color: var(--white);
            margin-bottom: 3%;
            border-bottom: 3px solid var(--blue-200);
            padding: 0 2% 0.5% 2%;
        }

        p{
            text-align: center;
            width: 75%;
        }
    }
}

.characters{
    height: 100%;
    margin-bottom: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;

    h2{
        @include titleGreen
    }

    p{
        @include pDescription
    }

    .filter{
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
        color: var(--green-100);

        input{
            width: 30%;
            border: 1px solid var(--green-100);
            background-color: transparent;
            padding: 1vh 1vw;
            border-radius: 7px;
            color: var(--green-100);
            box-shadow: 0px 2px 8px var(--green-100);

            &::placeholder{
                color: white;
                opacity: 0.6;
            }
        }

        select{
            width: 18%;
            background-color: transparent;
            padding: 1vh 0.6vw;
            border-radius: 7px;
            color: var(--green-100);
            border: 1px solid var(--green-100);
            box-shadow: 0px 2px 8px var(--green-100);
            cursor: pointer;

            option{
                background-color: var(--gray);
            }
        }

        button{
            width: 8%;
            border: none;
            background-color: var(--green-100);
            font-weight: 600;
            border-radius: 7px;
            opacity: 0.9;
            transition: 0.3s ease-in;
            box-shadow: 2px 2px 8px var(--black);

            &:hover{
                opacity: 1;
            }
        }
    }

    .container{
        margin-top: 5%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item{
            display: flex;
            flex-direction: column;
            width: 18%;
            margin-bottom: 2%;
            height: 35vh;
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &:hover{
                transform: scale(1.07);
            }

            img{
                width: 100%;
                height: 85%;
            }

            span{
                background-color: var(--blue-200);
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                color: var(--white);
                text-align: center;
            }
        }
    }

    .pagination{
        display: flex;
        gap: 3%;
        align-items: center;
        margin-top: 2%;

        button{
            background-color: var(--green-100);
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5vh 1vw;
            border-radius: 5px;
            box-shadow: 0px 2px 5px var(--black);
        }

        p{
            text-wrap: nowrap;

            span{
                color: var(--green-100);
                font-weight: 600;
                border-bottom: 1px solid var(--green-100);
            }
        }
    }
}

.phrases{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8%;
    padding: 0 5vw;

    h2{
        @include titleGreen
    }

    p{
        @include pDescription
    }
}

.seasons{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw 8% 5vw;

    h2{
        @include titleGreen
    }

    p{
        @include pDescription
    }
}

footer{
    background-color: var(--blue-100);
    height: 100%;
    padding: 11vh 8vw 20vh 8vw;
    display: flex;
    justify-content: space-between;

    .footer-left{
        img{
            width: 240px;
            height: auto;
            margin-bottom: 2vh;
            cursor: pointer;
        }

        p{
            width: 70%;
        }
    }

    .footer-right{
        display: flex;
        justify-content: flex-end;
        gap: 6vw;

        div{
            display: flex;
            flex-direction: column;
            gap: 1vh;

            a:hover{
                text-decoration: underline;
            }
        }
    }
}

.baseboard{
    background-color: var(--green-100);
    padding: 3vh 8vw;
    display: flex;
    justify-content: space-between;
    position: relative;

    div{
        display: flex;
        gap: 4vw;

        a:hover{
            text-decoration: underline;
        }
    }
}

.to-top{
    width: 35px;
    height: auto;
    position: fixed;
    bottom: 4vh;
    right: 1.5vw;
    cursor: pointer;
    color: var(--black);
    transition: 0.2s ease-in;

    &:hover{
        transform: scale(1.1);
        color: #000000;
    }
}

.spinner{
    display: flex;
    justify-content: center;
    margin: 10% 0;

    svg{
        color: var(--white);
        width: 2.5rem;
        height: 2.5rem;
        animation: spin 1s linear infinite;
    }
}
  
@keyframes spin{
    0%{ 
        transform: rotate(0deg)
    }
    100%{ 
        transform: rotate(360deg); 
    }
}
  